// Biến màu sắc, kích thước chữ, padding và đổ bóng
$primary-color: #ef4444; // Mã màu đỏ hiện đại thay cho 'red' thuần
$text-color: #222222;
$font-large: 32px;
$font-medium: 28px;
$padding-standard: 10px 20px;
$box-shadow-default: 2px 2px 10px rgba(0, 0, 0, 0.1);